body {
  background-color: #ffe6a7;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #ffe6a7;
  background: #432818;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.loading {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #432818;
  text-transform: uppercase;
  margin-top: 20px;
}

/* Container for pokemon cards */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pokemon {
  text-align: center;
  border: 3px solid #432818;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: #ffe6a7;
}

.pokemon img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border: 2px solid rgba(153, 88, 42, 0.3);
  border-radius: 30%;
  margin: 10px 0;
}

.pokemon p {
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 0;
  color: #99582a;
}

.pokemon .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  color: #ffe6a7;
  background: #432818;
  padding: 5px;
  margin: -10px -10px 10px -10px;
}

.pokemon .id {
  font-size: 1.1em;
  color: #ffe6a7;
  background: #432818;
  padding: 5px;
  margin: -10px -10px 10px -10px;
  border-radius: 15px 15px 0px 0px;
}